version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules # prevent overwriting node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # helps with file watching in Docker
    command: pnpm dev --host 0.0.0.0
